{% extends 'base.html' %}
{% block content %}
<main>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for rental_info in rental_list %}
            {% if rental_info.return_date == None %}
            <div class="col" style="width:25%;">
              <div class="card shadow-sm" style="height:90%">
                <img src="{{ rental_info.book.image_path }}" style="height:70%;">
                <div class="card-body" style="height:30%;">
                  <p class="card-text" style="height:40%;"><a href="/book/{{ rental_info.book_id }}">{{ rental_info.book.bookname }}</a></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action = "/back" method="POST">
                        <input type="hidden" name = "id" value = "{{ rental_info.id }}">
                        <button class="btn btn-sm btn-outline-secondary">반납하기</button>
                        <!-- <button>요소 자체는 submit속성을 지니고 있기 때문에 type 정의가 되어있지 않다면 submit 동작을 한다. -->
                      </form>
                    </div>
                    
                    <small class="text-muted">대여일자 : {{ rental_info.rental_date|datetime }}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
</main>
{% endblock %}