{% extends 'base.html' %}
{% block content %}
<main>
  <div class="container" style="padding-top:30px;">
    <!-- 추천도서 -->
    <div style="width:60%;display:inline-block;">
      <section id="photo">
        <div class="slider">
            <div class="slide active" style="background:url('{{ book_recommend[0].image_path }}') no-repeat center;background-size:contain;"></div>
            <div class="slide" style="background:url('{{ book_recommend[1].image_path }}') no-repeat center;background-size:contain;"></div>
            <div class="slide" style="background:url('{{ book_recommend[2].image_path }}') no-repeat center;background-size:contain;"></div>
            <div class="slide" style="background:url('{{ book_recommend[3].image_path }}') no-repeat center;background-size:contain;"></div>
        </div>
        <p class="left-arrow" style="position:relative;display:inline-block;left:10%"></p>
        <p class="right-arrow" style="position:relative;display:inline-block;left:80%"></p>
      </section>
    </div>
    <div style="width:35%;display:inline-block;position:absolute;top:180px;">
      <h3 class="fw-light">추천도서</h3>
      <section id='recommend_info'>
        <div class="slide active">
          <table class="border-2">
            <tr>
              <th>책이름</th>
              <td>{{ book_recommend[0].bookname }}</td>
            </tr>
            <tr>
              <th>출판사</th>
              <td>{{ book_recommend[0].publisher }}</td>
            </tr>
            <tr>
              <th>저자</th>
              <td>{{ book_recommend[0].author }}</td>
            </tr>
              <th>페이지수</th>
              <td>{{ book_recommend[0].pages }}</td>
            </tr>
          </table>
          {% for i in range(book_recommend[0].rating//2) %}
            <img src="../static/images/full_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range(book_recommend[0].rating%2) %}
            <img src="../static/images/half_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range((10-book_recommend[0].rating)//2) %}
            <img src="../static/images/empty_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
        </div>
        <div class="slide">
          <table class="border-2">
            <tr>
              <th>책이름</th>
              <td>{{ book_recommend[1].bookname }}</td>
            </tr>
            <tr>
              <th>출판사</th>
              <td>{{ book_recommend[1].publisher }}</td>
            </tr>
            <tr>
              <th>저자</th>
              <td>{{ book_recommend[1].author }}</td>
            </tr>
              <th>페이지수</th>
              <td>{{ book_recommend[1].pages }}</td>
            </tr>
          </table>
          {% for i in range(book_recommend[1].rating//2) %}
            <img src="../static/images/full_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range(book_recommend[1].rating%2) %}
            <img src="../static/images/half_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range((10-book_recommend[1].rating)//2) %}
            <img src="../static/images/empty_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
        </div>
        <div class="slide">
          <table class="border-2">
            <tr>
              <th>책이름</th>
              <td>{{ book_recommend[2].bookname }}</td>
            </tr>
            <tr>
              <th>출판사</th>
              <td>{{ book_recommend[2].publisher }}</td>
            </tr>
            <tr>
              <th>저자</th>
              <td>{{ book_recommend[2].author }}</td>
            </tr>
              <th>페이지수</th>
              <td>{{ book_recommend[2].pages }}</td>
            </tr>
          </table>
          {% for i in range(book_recommend[2].rating//2) %}
            <img src="../static/images/full_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range(book_recommend[2].rating%2) %}
            <img src="../static/images/half_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range((10-book_recommend[2].rating)//2) %}
            <img src="../static/images/empty_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
        </div>
        <div class="slide">
          <table class="border-2">
            <tr>
              <th>책이름</th>
              <td>{{ book_recommend[3].bookname }}</td>
            </tr>
            <tr>
              <th>출판사</th>
              <td>{{ book_recommend[3].publisher }}</td>
            </tr>
            <tr>
              <th>저자</th>
              <td>{{ book_recommend[3].author }}</td>
            </tr>
              <th>페이지수</th>
              <td>{{ book_recommend[3].pages }}</td>
            </tr>
          </table>
          {% for i in range(book_recommend[3].rating//2) %}
            <img src="../static/images/full_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range(book_recommend[3].rating%2) %}
            <img src="../static/images/half_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
          {% for i in range((10-book_recommend[3].rating)//2) %}
            <img src="../static/images/empty_star.png" style="display: inline-block;width:33px;">
          {% endfor %}
        </div>
      </section>
    </div> 
    <!-- 추천도서 끝 -->
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="--bs-gutter-y: -2rem;">
        <!-- Pagination 객체로 변경되었으므로 book_list를 book_list.items로 변경 -->
        {% for book in book_list.items %}
        <div class="col" style="width:25%;">
          <div class="card shadow-sm" style="height:90%">
            <img src="{{ book.image_path }}" style="height:65%;">
            <div class="card-body" style="height:35%;">
              <p class="card-text" style="height:30%"><a href="/book/{{ book.id }}">{{ book.bookname }}</a></p>
              <div>
                {% for i in range(book.rating//2) %}
                <img src="../static/images/full_star.png" style="display: inline-block;width:33px;">
                {% endfor %}
                {% for i in range(book.rating%2) %}
                <img src="../static/images/half_star.png" style="display: inline-block;width:33px;">
                {% endfor %}
                {% for i in range((10-book.rating)//2) %}
                <img src="../static/images/empty_star.png" style="display: inline-block;width:33px;">
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center" style="margin-top:10px">
                  <div class="btn-group">
                    <form action = "/" method="POST">
                      <input type="hidden" name = "book_id" value = "{{ book.id }}">
                      <button class="btn btn-sm btn-outline-secondary">대여하기</button>
                      <!-- <button>요소 자체는 submit속성을 지니고 있기 때문에 type 정의가 되어있지 않다면 submit 동작을 한다. -->
                    </form>
                  </div>
                  <small class="text-muted">남은책수 : {{ book.stock }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="?page=1">처음</a>
    </li>
    <!-- 이전페이지 -->
    {% if book_list.has_prev %}
    <li class="page-item">
        <a class="page-link" href="?page={{ book_list.prev_num }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in book_list.iter_pages() %}
        {% if page_num %}
            {% if page_num != book_list.page %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_num }}</a>
            </li>
            {% endif %}
        {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if book_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ book_list.next_num }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
    <li class="page-item">
      {% if (book_list.total%book_list.per_page) == 0 %}
      <a class="page-link" href="?page={{ (book_list.total//book_list.per_page) }}">끝</a>
      {% else %}
      <a class="page-link" href="?page={{ (book_list.total//book_list.per_page)+1 }}">끝</a>
      {% endif %}
    </li>
  </ul>
  <!-- 페이징처리 끝 -->
  </div>
</main>
<!-- 남은 책 없을 때 경고 메시지 -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <script>
        alert('{{message}}')
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}